.root {
    width: 25px;
    height: 25px;
    outline: 1px solid #2a9d9086;
    content: '';
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
}

.food {
    background-color: red;
}

.prey {
    background-color: #e9c46a;
}

.predator {
    background-color: #e76f51;
}