.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.title {
    margin: 0;
}

.switch {
    width: 30px;
    height: 30px;
    content: '';
    fill: white;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 24px;
    }
}