body {
    margin: 0;
    padding: 15px;
    width: calc(100vw - 30px);
    background-color: #1b323b;
    color: rgb(241, 241, 241);
    font-family: 'Roboto Mono', monospace;
}

.root {
    margin: auto;
    max-width: 1440px;
}

.main {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}


.map-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
}

.stats-block {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
}

.stats-block::after {
    position: absolute;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.4);
    height: 1px;
    bottom: -20px;
    left: 0;
    content: '';
}